.conventions {
  margin: 0em 3em 3em 3em;

  display: flex;
  flex-direction: column;

  text-align: center;

  gap: 6em;

  &_part1,
  &_part2 {
    &_title {
      font-size: 50px;
      line-height: 173px;
    }
    &_subtitle {
      font-size: 1.5em;
      line-height: 40px;
    }
  }

  &_part1,
  &_part2 {
    &_tiles {
      display: flex;
      flex-direction: row;
      justify-content: center;

      gap: 1em;

      justify-content: left;

      padding-top: 6em;
    }
  }
}
