@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Jost";

  color: #434343;
}

.link,
.link:visited,
.link:hover,
.link:active {
  text-decoration: none;
}

.body {
  background: linear-gradient(180deg, #b3b0bb 0%, #d9d4e3 100%);
  background-size: cover;

  height: 100%;

  margin: 0;
  // background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
